body {
    font-family: Century Gothic;
}

* {
    box-sizing: border-box
}

header
{
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #ccc;
    background: white;
    padding: 10px;
}



p
{
    font-size: 14px;
}

#list {
    overflow-x:auto;
}

#profile
{
    text-align: center;
}
#manage_ac
{
    background: #F2F5F3;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#manage_ac li
{
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 5px;
}
.ac_btns
{
    background-color: #4CAF50;
    color: white;
    font-family: Century Gothic;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}
.ac_btns:hover
{
    opacity: 1;
}







.search
{
    border: 2px solid #4CAF50;
    overflow: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search input[type="text"]
{
    border: 0px;
    width: 67%;
    padding: 10px 10px;
    font-family: Century Gothic;
}

.search input[type="text"]:focus
{
    outline: 0;
}

.search input[type="submit"]
{
    border: 0px;
    background: none;
    background-color: #4CAF50;
    color: #fff;
    float: right;
    padding: 10px;
    border-radius-top-right: 5px;
    -moz-border-radius-top-right: 5px;
    -webkit-border-radius-top-right: 5px;
    border-radius-bottom-right: 5px;
    -moz-border-radius-bottom-right: 5px;
    -webkit-border-radius-bottom-right: 5px;
    cursor: pointer;
    opacity: 0.9;
    font-family: Century Gothic;
}

.search input[type="submit"]:hover
{
    opacity: 1;
}



.container
{
    margin: auto;
    padding: 20px;
    width: 80%;
    height: auto;
    background: #F2F5F3;
    min-height:350px;
    overflow: hidden;
    position: relative;
}
textarea 
{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: Century Gothic;
    font-size: 14px;
    resize: vertical;
    overflow: auto;
}

.logo
{
    float: left;
    text-align: center;
}

.logo img
{
    border-radius: 10px;
}


.user_action
{
    float: right;
} 

.user_btns li
{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-left: 20px ;
    font-size: 14px;
}

.user
{
    color: #aaa;
    text-decoration: none;
}

.user_btns a:hover
{
    color: #aaa;
    text-decoration: underline;
    font-weight: bold;
}

section
{
    background: white;
    padding: 20px;
    margin-top: 20px;
}

.side_bar
{
    width: 25%;
    height: auto; 
    float: left;
    position: -webkit-sticky;
    position: sticky;
}

.post_field
{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Century Gothic;
}

.post_btn
{
    background-color: #4CAF50; /* Green */
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Century Gothic;
    cursor: pointer;
    opacity: 0.9;
}
.post_btn:hover
{
    opacity: 1;
}

.right
{
    width: 73%; 
    height: auto; 
    float: right;
}
span
{
    font-style: oblique;
    font-size: 14px;
}

.qstns
{
    color:grey;
    font-size:12px;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;    
}

td
{
    vertical-align: top;
}

td a:hover
{
    color: black;
}

th, td {
    text-align: left;
    padding: 8px;
}

th a, td a {
    text-decoration: none;
    color: #aaa;
}

tr:nth-child(even){background-color: #f2f2f2}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.qstn_code
{
    font-style: oblique;
}
.responsive
{
    vertical-align: top;
}

#user_icon
{
    font-size: 60px; 
    border: 1px solid #ccc; 
    padding: 20px;  
    border-radius: 50%;
}
.answer
{
    font-style: oblique;
    color: #aaa;
    vertical-align: top;
}

@media only screen and (max-width:800px) {
    /* for mobile phones: */
    .side_bar {
        width: 100%;
        float: center;
    }
    .right
    {
        width: 100%;
        float: center;
    }
    .user_btns li
    {
        display: inline-block;
        text-align: left;
        padding-left: 20px ;
        font-size: 14px;
    }

    text-area
    {
        width: 100%;
    }
    .user_action
    {
        float: left;
        text-align: left;
    }

    .container
    {
        width: 99%;
    }
}

/* ===========================
   ====== Media Query for responsiveness ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 880px)
{
    {}
    .search
    {
        width: 95%;
        margin: 0 auto;
    }
    /* for mobile phones: */
    .side_bar 
    {
        width: 100%;
        float: center;
    }
    .right
    {
        width: 100%;
        float: center;
    }
    .user_btns li
    {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        text-align: left;
        padding-left: 20px ;
        font-size: 12px;
    }


    text-area
    {
        width: 100%;
    }
    .user_action
    {
        float: center;
        text-align: left;
    }
    .container
    {
        width: 99%;
    }
}